body {
  overflow: hidden;
}
.banner1,
.banner2,
.banner3,
.banner4 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #1f242d;
}

.banner1 img {
  width: 300px;
  position: absolute;
  top: 70%;
  left: 20%;
}
.banner2 img {
  width: 300px;
  position: absolute;
  top: 70%;
  left: 20%;
}
.banner3 img {
  width: 300px;
  height: 150px;
  position: absolute;
  top: 70%;
  left: 20%;
}
.banner4 img {
  width: 300px;
  height: 150px;
  position: absolute;
  top: 70%;
  left: 20%;
}
.text-box {
  width: 600px;
  position: absolute;
  top: 200px;
  left: 100px;
  color: #fff;
}
.text-box h1 {
  margin-bottom: 40px;
}
.text-box p {
  font-size: 14px;
  line-height: 18px;
  margin-top: 20px;
}
.text-box span {
  background: orangered;
  height: 2px;
  width: 210px;
  margin-top: 10px;
  position: absolute;
}
.banner1 {
  animation: slide1 5s linear infinite;
}
.banner2 {
  animation: slide2 5s linear infinite;
}
.banner3 {
  animation: slide3 5s linear infinite;
}
.banner4 {
  animation: slide4 5s linear infinite;
}

@keyframes slide1 {
  0% {
    visibility: visible;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes slide2 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes slide3 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes slide4 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.movile-view{
    width: 100%;
    margin-bottom: -2rem;
    height: 50%;
}
.lists{
    line-height: 5px;
    margin: 1em;
    align-items: center;
    box-shadow: 0em 0.4em 0.5em rgba(0,0,0,0.3);
    position: relative;

}
@media only screen and (max-width: 768px) {
  .exp-content{
    display: none;
  }
}
